<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://v3.bootcss.com/favicon.ico">

    <title>BBS</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/navbar-fixed-top.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    {% block head-css %}
    {% endblock %}

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->

  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">美丽社区</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'web' %}">综合</a></li>
            <li><a href="{% url 'category' 1 %}">1区</a></li>
            <li><a href="{% url 'category' 2 %}">2区</a></li>
            <li><a href="{% url 'category' 3 %}">3区</a></li>
            <li><a href="{% url 'web_chat' %}">聊天室</a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
              {% if request.user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user.userprofile.name }} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'new_article' %}">发帖</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="{% url 'logout' %}">退出</a></li>
              </ul>
            </li>
              {% else %}
                  <li><a href="{% url 'login' %}">注册\登录</a> </li>
              {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
        {% block page-container %}
        <div class="row">
            <div class="col-md-8 left-content-panel">
                <div class="content-box">
                    {% for article in articles reversed %}
                    <div class="row article-box">
                        <div class="col-md-4 article-head-img">
{#                            <img src="{{ article.head_img }}">#}
                            <img src="{{ article.head_img }}">
                        </div>
                        <div class="col-md-7 article-summary">
                            <h4>
                                <a href="{% url 'article_detail' article.id %}">{{ article.title }}</a>
                            </h4>
                            <div class="article-attr">
                                <ul class="list-inline">
                                    <li>{{ article.author.name }}</li>
                                    <li>{{ article.publish_date }}</li>
                                    <li>thumbup:{{ article.thumbup_set.select_related.count }}</li>
                                    <li>comment:{{ article.comment_set.select_related.count }}</li>
                                </ul>
                            </div>
                            <p>{{ article.summary }}</p>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-4 right-sidebar">
                bar
            </div>
        </div>
        {% endblock %}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="/static/js/jquery.js"></script>
    <script src="/static/plugins/bootstrap/js/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript">
        $(document).ready(function(){
            var menus = $("#navbar a[href='{{ request.path }}']")[0];
            console.log(menus);
            $(menus).parent().addClass('active');
            $(menus).parent().siblings().removeClass('active');
        });
    </script>
    {% block bottom-js %}
    {% endblock %}

</body></html>