<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="/app02/user_list/" method="post">
        <p>用户类型{{ obj.user_type }}<span>{{ error_msg.user_type }}</span></p>
        <p>主机{{ obj.host }}<span>{{ error_msg.host }}</span></p>
        <p>端口{{ obj.port }}<span>{{ error_msg.port }}</span></p>
        <p>邮箱{{ obj.email }}<span>{{ error_msg.email }}</span></p>
        <p>手机{{ obj.mobile }}<span>{{ error_msg.mobile }}</span></p>
        <p>备注{{ obj.memo }}<span>{{ error_msg.memo }}</span></p>
        <input type="submit" value="submit">
    </form>

</body>

</html>