<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="/app01/create_user/" method="post">
        <p>{{ obj.username }}</p>
        <p>{{ obj.user_group_id }}</p>
        <input type="submit" value="submit">
    </form>

    <table>
        {% for item in user_list %}
        <tr>
            <td>{{ item.username }}</td>
            <td>{{ item.user_group.caption }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>